<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>College Contact Info</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="collegeContactForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>College Name</mat-label>
                    <input matInput formControlName="collegeName" required>
                    @if (collegeContactForm.get('collegeName')?.hasError('required')) {
                    <mat-error>
                      College Name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    @if (collegeContactForm.get('email')?.hasError('email') && collegeContactForm.get('email')?.touched) {
                    <mat-error>
                      Please enter a valid email address
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" required>
                    @if (collegeContactForm.get('phone')?.hasError('required')) {
                    <mat-error>
                      Phone number is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Alternate Phone</mat-label>
                    <input matInput formControlName="altPhone">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Website</mat-label>
                    <input matInput formControlName="website">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Map Location URL</mat-label>
                    <input matInput formControlName="mapLocation">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" rows="2"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required>
                    @if (collegeContactForm.get('city')?.hasError('required')) {
                    <mat-error>
                      City is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required>
                    @if (collegeContactForm.get('state')?.hasError('required')) {
                    <mat-error>
                      State is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zip" required>
                    @if (collegeContactForm.get('zip')?.hasError('required')) {
                    <mat-error>
                      Zip Code is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" required>
                    @if (collegeContactForm.get('country')?.hasError('required')) {
                    <mat-error>
                      Country is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!collegeContactForm.valid" mat-flat-button color="primary">Submit</button>
                  <button type="button" mat-flat-button class="formCancelBtn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
